// Site colors.
$color-primary:                     #E4032C;
$color-secondary:                   #414A5A;

$color-bg-body:                     $color-primary;
$color-bg-panel:                    #FFF;
$color-bg-btn:                      $color-primary;

$color-font-primary:                $color-secondary;
$color-font-a:                      $color-primary;

$color-border-form-input:           #E1E1E1;

// Fonts styles.
$font-head:                         'ModeratBold';
$font-base:                         'ModeratRegular';
