// Site colors.
$color-primary:                     #0072bb;
$color-secondary:                   #414A5A;

$color-bg-body:                     $color-primary;
$color-bg-panel:                    #FFF;
$color-bg-btn:                      $color-primary;
$color-bg-footer:                   #FFF;

$color-font-primary:                $color-secondary;
$color-font-heading:                $color-secondary;
$color-font-heading-alt:            $color-primary;
$color-font-a:                      $color-primary;
$color-font-button:                 #FFF;

$color-border-form-input:           #E1E1E1;

$color-font-header-a:               $color-secondary;

// Fonts styles.
$font-head:                         'ModeratBold';
$font-base:                         'ModeratRegular';
